* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

:root  {
    --backgroundwall-image: url("images/the-wall-of-the-house.png"); 
    --backgroundwindow1-image: url("images/window1.png");
    --backgroundwindow2-image: url("images/window2.png");
    --backgrounddoor1-image: url("images/door1.png");

        
}

.livestock-pack {
    position: relative;
}

.sky {
  width: 100vw;
  height: 45vh;
  background-color: rgb(129, 199, 249);
}

.grenery {
    width: 100vw;
    height: 55vh;
    background-color: rgb(98, 218, 59);
}

.sun {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 100px;
    left: 150px;
    border-radius: 50%;
    background: radial-gradient( #ffcc00,  #ffe174);
    box-shadow: 0 0 100px  #ffa600 ;
}

.home-pack {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
}
.home-1 {
    width: 500px;
    height: 500px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

.garage1 {
    width: 150px;
    height: 100px;
    background-image: url("images/white-brick-wall.png");
    background-size: contain;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    
}

.gates1 {
    width: 125px;
    height: 85px;
    background-image: url("images/garage-door1.png");
    background-size: contain;
}

.h1a {
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.bottom-section {
    display: flex;
}

.top-section {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.hiden-section-floor1 {
    content: "";
    width: 25px;
    height: 100px;
}

.first-floor1 {
    width: 200px;
    height: 100px;
    position: relative;
    background-image: var(--backgroundwall-image);
    background-size: 125%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.door1 {
    width: 35px;
    height: 70px;
    position: absolute;
    top: 28px;
    left: 30px;
    background-image: var(--backgrounddoor1-image);
    background-size: 100%;

}

.window1 {
    width: 76px;
    height: 35px;
    position: absolute;
    top: 28px;
    left: 90px;
    background-image: var(--backgroundwindow1-image);
    background-size: contain;
    background-color: white;
}

.second-floor1 {
    width: 200px;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background-image: var(--backgroundwall-image);
    background-size:125%;

}

.window2 {
    width: 50px;
    height: 50px;
    background-image: var(--backgroundwindow2-image);
    background-size: contain;
    background-color: white;
}

.roof1 {
    border-bottom: 100px solid #6e460e;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    position: relative;
}

.left-roof {
    width: 170px;
    height: 15px;
    background-color: #4b2e05;
    position:absolute;
    transform: rotate(40deg);
    top: 45px;
    left: -23px; 
}

.right-roof {
    width: 170px;
    height: 15px;
    background-color: #4b2e05;
    position:absolute;
    transform: rotate(-40deg);
    top: 45px;
    left: -145px; 
}

.bottom-roof {
    width: 250px;
    height: 15px;
    background-color: #4b2e05;
    position:absolute;
    top: 95px;
    left: -125px; 
}

.window3 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: -20px;
    background-color: antiquewhite;
    background-image: var(--backgroundwindow1-image);
    background-size: 110%;
    background-color: white;

}